.button,
a[data-button],
button[data-button] {
	--apply: flex relative gap-2 items-center justify-center px-4 py-1 text-base rounded-sm border-1
		border-transparent;

	&.primary,
	&[data-button='primary'] {
		--apply: bg-black text-white border-black;
	}

	&.secondary,
	&[data-button='secondary'] {
		--apply: text-black;

		&:hover {
			--apply: bg-gray-2;
		}
	}
}
