label {
	--apply: flex flex-col gap-0.5 text-sm;
}

textarea,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
select {
	--apply: border-1 border-gray-5 w-full appearance-none rounded px-3 py-1 text-base;

	&:hover:not(:disabled),
	&:focus {
		--apply: border-black;
	}
}
